<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon Images</title>
    <%- include('layouts/icon'); -%>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/images.css">
</head>
<body>
    <%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>
    <%- include('layouts/aside_nav'); -%>
    <section>
        <h1>Dragon Images and Coloring Sheet</h1>
        <div class="line"></div>
        <img src="/images/star.jpg" width="680" height="60"><br><br>

        <figure class="left">
            <div class="container">
                    <img src="/images/collection/fly_for_freedom.png" alt="dragon" width="300" >  
                    <div class="overlay">
                        <div class="secondImage">           
                            <img src="/images/collection/fly_for_freedom_coloring.png" alt="dragon" width="300" >  
                        </div>
                    </div>
            </div>
    		<figcaption>Flying for freedom</figcaption>
        </figure>
        <figure class="right">
            <div class="container">
                    <img src="/images/collection/sand_wing.png" alt="dragon" width="300" >  
                    <div class="overlay">
                        <div class="secondImage">           
                            <img src="/images/collection/sand_wing_coloring.png" alt="dragon" width="300" >  
                        </div>
                    </div>
            </div>
            <figcaption>Sand wing Dragon</figcaption>
        </figure>

        <figure class="left">
            <div class="container">
                    <img src="/images/collection/in_the_mist.png" alt="dragon" width="300" >  
                    <div class="overlay">
                        <div class="secondImage">           
                            <img src="/images/collection/in_the_mist_coloring.png" alt="dragon" width="300" >  
                        </div>
                    </div>
            </div>
    		<figcaption>In the mist</figcaption>
        </figure>
        <figure class="right">
            <div class="container">
                    <img src="/images/collection/star_on_the_wings.png" alt="dragon" width="300" >  
                    <div class="overlay">
                        <div class="secondImage">           
                            <img src="/images/collection/star_on_the_wings_coloring.png" alt="dragon" width="300" >  
                        </div>
                    </div>
            </div>
            <figcaption>Star on the wings</figcaption>
        </figure>

        <figure class="left">
            <div class="container">
                    <img src="/images/collection/Halloween_dragon.png" alt="dragon" width="300" >  
                    <div class="overlay">
                        <div class="secondImage">           
                            <img src="/images/collection/Halloween_dragon_coloring.png" alt="dragon" width="300" >  
                        </div>
                    </div>
            </div>
    		<figcaption>Halloween Dragon</figcaption>
        </figure>
        <figure class="right">
            <div class="container">
                    <img src="/images/collection/floating.png" alt="dragon" width="300" >  
                    <div class="overlay">
                        <div class="secondImage">           
                            <img src="/images/collection/floating_coloring.png" alt="dragon" width="300" >  
                        </div>
                    </div>
            </div>
            <figcaption>Floating</figcaption>
        </figure>
   </section>
   <aside id="sidebar">
        <h4>More Dragons</h4>
        <div class="line"></div>
        <ul>
            <li>Ice Wing </li>
            <li>Fire Wing </li>
            <li>Rain Wing </li>
            <li>Forest Wing </li>
            <li>Night Wing </li>
            <li>Sea Wing </li>
            <li>Sand Wing </li>
            <li>Light Wing </li>
            <li>Silk Wing </li>
            <li>Love Wing </li>
            <li>Sky Wing </li>
        </ul>
   </aside>
   <%- include('layouts/footer'); -%>
</body>
</html>